body {
  background-image: url('https://cdn.midjourney.com/1d63701a-506b-43f9-96e1-4f9ebfa1ac4c/0_1.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Ysabeau';
  background-color: #f0f0f0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 125px;
  font-weight: normal;
  margin-bottom: -35px;
  margin-top: -15px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: -15px;
}

p {
  text-align: center;
  font-size: 45px;
  margin-bottom: -50px;
}

#timer {
  font-size: 45px;
  font-weight: normal;
}

#number {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -25px;
}

#result {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.result-initial-margin {
  margin-bottom: 50px;
  margin-top: 10px;
}

.result-extra-margin {
  margin-bottom: 30px;
  margin-top: 80px;
}

button {
  background-color: #144260;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Ysabeau';
  font-size: 25px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #91443DBF;
}

button#start {
  background-color: #144260;
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 50px;
}

button#start:hover {
  background-color: #91443DBF;
}

.life {
  display: inline;
  font-size: 24px;
  color: #8a1e24;
}

#leaderboard {
  display: none;
}

#leaderboard h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#leaderboard ul {
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

#leaderboard li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

#leaderboard li:last-child {
  border-bottom: none;
}

.game-active #game-title {
    display: none;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-bottom: 60px;
  margin-top: -40px;
}

#timer,
#seconds-text {
  display: inline-block;
}

#lives {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
  margin-top: -75px;
}
